body{
	overflow: hidden;
}

.link a{
	color:#fff;
}

.sublink{
	color: #000;
}

.product_title{
	margin-top: 60px;
    margin-right: 130px;
}

.custom-hr{
	background-color: #fff;
    width: 1095px;
    height: 5px;
    float: right;
    margin-right: 135px;
    margin-top: -20px;
}

table{
	width:80% !important;
	padding-top:5px;
	padding-bottom: 5px;
}

thead, #grandtotal{
	color:#fff;
	background-color:#000;
}

table thead th{
	width:20%;
}


.odd{
	background-color: #b4b3b3;
}

.even{
	background-color: #d0d0cf;
}

.odd, .even{
	color: #ca3d33;
}


#order{
	color: #fff;
	background-color:#f00;
	padding:5px;
	padding-left:60px;
	padding-right: 60px;
	border-width: 0px;
	float: right;
	margin-right:135px;
}

.delete{
	cursor: pointer;
}