/*Global*/
html, body {
  height: 100%;
}

/*Classes*/
.page-wrap {min-height: 100%;margin-bottom: -65px;}
.page-wrap:after {display: block;}
.site-footer, .page-wrap:after{height: 65px;}
.link{margin-left:40px;}
.sdlink > a, .sulink > a{text-decoration: none;}
.md20{margin-top:20px;}
.lfloat{float:left;}
.rfloat{float:right;}
.indent5pr{text-indent: 5px;}
.padd5pl{padding-left:5px;}
.custom_input_f{border-top-style: solid;border-bottom-style: solid;border-width: 0px;
	border-top-width: 1px;border-bottom-width: 1px;padding:20px;color: #993333;
	outline: none;}
.custom_input{border-bottom-style: solid;border-width: 0px;	border-bottom-width: 1px;padding:20px;
	color: #993333;border-color: #660000;outline: none;}
.custom_input_2{border-bottom-style: solid;border-width: 0px;border-bottom-width: 1px;padding:20px;
	color: #999999;border-color: #666666;outline: none;}
.custom_input_3{border-bottom-style: solid;border-width: 0px;border-bottom-width: 1px;
	padding:20px;color: #fff;border-color: #666666;outline: none;background-color: #000;}
.cu_button{border: none;color: #993333;outline: none;background-color: transparent;margin-left: 18px;}
.reg_button{border: none;color: #000;outline: none;background-color: transparent;margin-left: 18px;}
.si_button{border: none;color: #fff;outline: none;background-color: transparent;margin-left: 18px;}
.si_button_2{border: none;color: #999;outline: none;background-color: transparent;margin-left: 18px;}
.title{font-size:400%;letter-spacing: 10px;}


/*ids*/
#home{background-image: url('../assets/4acctabloggein_599p.jpg');height:635px;}
#navigation_row a{color: #000;}
#au_link{position: absolute;bottom: 0px;left:85px;}
#about_us{background-image: url('/mirasoltiresupply/assets/bg_rnr.png');width:100%;
	height:100%;color:#fff;}
#nr_link_u{padding-top:20px;color: #000;}
#aboutus_content{border-style:solid;border-width:1px;border-color: #fff;
	margin-left:150px;margin-right:150px;margin-top:30px;}
#aboutus_content > p{text-align: justify;margin-left: 150px;margin-right: 150px;
	margin-top: 50px;padding-bottom: 150px;}
#aboutus_content > center{padding-top: 100px;}
#contact_us{background-image: url('/mirasoltiresupply/assets/cu_1.jpg');width:100%;
	height:100%;padding-top:-20px;}
#cu_link{margin-top:30px;}
#contact_us_content{margin-left:150px;margin-right:150px;padding-top:50px;}
#loc_link{margin-top:90px;}
#location{background-color: #666666;width:100%;height:100%;padding-top:20px;}
#location_content{margin-left:150px;margin-right:150px;padding-top:50px;color: #fff;
	padding-top:-20px;}
#logout{display:none;}
#registration_form{position: absolute;margin-left: 220px;margin-top: 35px;}
#sign_in, #sign_up{float: left;}
#sign_in{background-color: #000;color: #fff;width:366.27px; height:504.23px;}
#sign_up{margin-left:5px;color: #000;}
#footer, #footer a{background-color: #666; color: #ccc;}
#footer{position: fixed; bottom:0px; left:0px; display:inline;width:100%;margin-top:70px;} 
#footer li{list-style: none;display:inline-block;padding-top:5px;}