#myaccount-sidebar{
	background-color: #cc3333;
	color: #fff;
	font-size:150%;
	width:20%;
	height:600px;
	float: left;
}

#myaccount-sidebar a{
	color:#fff;
	margin-bottom:20px;
	padding-left:20%;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:5px;

}


#myaccount-sidebar a:hover{
	background-color: #990000;
	text-decoration: none;
}

.profile-menu{
	margin-bottom:30px;	
}

.profile-logo{
	margin-top:10px;
	margin-bottom:20px;
}

#myaccount-body{
	background-color: #fff;
	float: left;
	width:1000px;
	height:600px;
	overflow: auto;
}

#navigation_row{
	margin-right:40px; 
	float:right; 
	color: #cc3333;
}

#myaccount-body-content{
	margin-top:50px;
	padding:5px;
}

.top-bottom-red-border{
	border-top-width:3px;
}

#profile-update-link{
	color:#000;
	margin-top:10px;
	float: right;
}


#profile-update-link > a{
	color:#000;
	margin-top:10px;
}

.inv_point{
	cursor: pointer;
}

.link a{
	color:#cc3333;
}

.sublink{
	color: #000;
}

#transaction-table, #wishlist-table{
	width: 100%;
}

#transaction-table th, #transaction-table td{
	width: 20%;
}

#wishlist-table-table th, #wishlist-table-table td{
	width: 30%;
}

.ebutton-save, .ebutton-cancel{
	margin-top: 20px;
    padding: 10px 42px;
    border-style: none;
    color: #fff;
    background-color: #cc3333;
}

.ui-dialog-titlebar, .ui-widget-header{
	display: none;
}

#e-account-gender{
	color: #cc3333;
    padding: 3px;
}