body{
	overflow: hidden;
}

.link a{
	color:#fff;
}

.sublink{
	color: #000;
}

#batt-enum{
	float:left; 
	width:78%; 
	max-height: 400px; 
	opacity:0.9;
	margin-left: 10px;
	overflow: auto;
	overflow-x: hidden;
}