

.admin-wrapper{
	margin-right:10%;
	margin-left:10%;
	width: 80%;
	margin-top: 5%;
}

.admin-left-nav{
	width:20%;
	background-color: #fff;
	color:#cc3333;
	float:left;
}

.admin-left-nav li{
	text-decoration: none;
	color:#e62324;
	padding-top:30px;
	font-size: 170%;
	list-style: none;
	cursor: pointer;
}

.admin-left-nav li:hover{
	border-width: 0px;
	border-bottom-width: 5px;
	border-color: #e62324;
	border-style:solid;
}

.active{
	border-width: 0px;
	border-bottom-width: 5px;
	border-color: #e62324;
	border-style:solid;
}

.admin-left-nav a, .admin-left-nav a:hover{
	text-decoration: none;
	color:#e62324;
	padding-top:30px;
	list-style: none;
}
.admin-left-nav ul{
	text-decoration: none;
}

.admin-main-content{
	float:left;
	width: 80%;
	max-width:80%;
	height:100%;
	min-height:100%;
	color: #fff;
	background-color: #e62324;
	padding:20px;
}

#comments, #accounts, #tires-panel{
	min-height: 445px;
	max-height: 445px;
}

#inventory{
	min-height: 480px;
	max-height: 480px;	
}

#comments h1{
	font-size:400%;
}

#inventory h1{
	font-size:300%;
	float: right;
	margin-bottom:30px;
}

#inventory > div{
	height:135px;
}

.inv-col{
	width:33%;
	float: left;
}
#comments h4{
	color: #e62324;
	background-color: #fff;
	font-size: 300%;
	margin-top:-45px;

}
.inventory-home-adj{
	height:190px;
}

#recent_comment,#all_comment, #customer-accounts, #tire-table{
	width: 100%;
	margin-bottom:20px;
}

#recent_comment th, #recent_comment td, #all_comment th, #all_comment td, #customer-accounts th, #customer-accounts td{
	width: 33%;
}

#recent_comment thead, #all_comment thead, #customer-accounts thead, #tire-table thead{
	border-style: solid;
	border-color: #fff;
	border-width: 0px;
	border-bottom-width: 2px;
}

#tire-table th, #tire-table td{
	text-align: center;
	width: 19%;
}
.searchComment{
	width:80%;
	color: #c33;
}

#searchButton{
	background-color: #fff;
	border-width: 0px;
	color: #c33;
	width: 19%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tire-input{
	width:65%;
	color: #c33;

}

.tire-search-button{
	background-color: #fff;
	border-width: 0px;
	color: #c33;
	padding-top: 2px;
    padding-bottom: 2px;
}

#tire-search-bar{
	float:right;
	margin-bottom:10px;
}

#comment_dialog{
	display: hidden;
}