

.admin-wrapper{
	margin-right:10%;
	margin-left:10%;
	width: 80%;
	margin-top: 1%;
}

.admin-left-nav{
	width:20%;
	background-color: #fff;
	color:#cc3333;
	float:left;
}

.admin-left-nav li{
	text-decoration: none;
	color:#cc3333;
	padding-top:30px;
	font-size: 130%;
	list-style: none;
	cursor: pointer;
}

.admin-left-nav li:hover{
	border-width: 0px;
	border-bottom-width: 5px;
	border-color: #cc3333;
	border-style:solid;
}

.active{
	border-width: 0px;
	border-bottom-width: 5px;
	border-color: #cc3333;
	border-style:solid;
}

.admin-left-nav a, .admin-left-nav a:hover{
	text-decoration: none;
	color:#cc3333;
	padding-top:30px;
	list-style: none;
}
.admin-left-nav ul{
	text-decoration: none;
}

.admin-main-content{
	float:left;
	width: 80%;
	max-width:80%;
	height:100%;
	min-height:100%;
	color: #fff;
	background-color: #cc3333;
	padding:20px;
}

#comments, #accounts, #tires-panel, #wheels-panel, #batteries-panel, #rescue-panel, #account_details, #admin-main-content, #inventory, #sales, #promo_code, #popanel{
	min-height: 548px;
	max-height: 548px;
	overflow-y: auto;
}


#comments h1{
	font-size:400%;
}

#inventory h1{
	font-size:300%;
	float: right;
	margin-bottom:30px;
}

#inventory > div{
	height:135px;
}

.inv-col{
	width:33%;
	float: left;
}
#comments h4{
	color: #cc3333;
	background-color: #fff;
	font-size: 300%;
	margin-top:-45px;

}
.inventory-home-adj{
	height:190px;
}

#recent_comment,#all_comment, #customer-accounts, #tire-table, #wheel-table, #batteries-table, #rescue-table, #transaction-table, #sales_table, #promo_code_list,#po_table{
	width: 100%;
	margin-bottom:20px;
}


#customer-accounts th, #customer-accounts td{
	width: 33%;
	text-align: center;
}
#recent_comment th, #recent_comment td, #all_comment th, #all_comment td{
	width: 25%;
	text-align: center;
}

#transaction-accounts th, #transaction-accounts td{
	width:25%;
	text-align: center;
}

#promo_code_list th, #promo_code_list td{
	width:20%;
	text-align: center;
}

#recent_comment thead, #all_comment thead, #customer-accounts thead, #tire-table thead, #wheel-table thead, #batteries-table thead, #rescue-table thead, #transaction-table thead, #sales_table thead, #promo_code_list thead, #po_table thead{
	border-style: solid;
	border-color: #fff;
	border-width: 0px;
	border-bottom-width: 2px;
}

#tire-table th, #tire-table td, #wheel-table th, #wheel-table td, #batteries-table th, #batteries-table td{
	text-align: center;
	width: 19%;
}
#rescue-table td, #rescue-table th{
	text-align: center;
	width: 14%;
}

.updateRStatus{
	color:#000;
}
#sales_table th, #sales_table td{
	text-align: center;
	width: 16%;
}
#po_table th, #po_table td{
	text-align: center;
	width: 25%;
}
.searchComment{
	width:80%;
	color: #c33;
}

.glyphicon-pencil, .glyphicon-trash{
	cursor: pointer;
}

#searchButton{
	background-color: #fff;
	border-width: 0px;
	color: #c33;
	width: 19%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tire-input, .wheel-input, .batteries-input{
	width:65%;
	color: #c33;

}

.tire-search-button, .wheel-search-button, .batteries-search-button{
	background-color: #fff;
	border-width: 0px;
	color: #c33;
	padding-top: 2px;
    padding-bottom: 2px;
}

#tire-search-bar, #wheel-search-bar, #batteries-search-bar{
	float:right;
	margin-bottom:10px;
}

#comment_dialog{
	display: hidden;
}

#address_title, #transaction_title{
	background-color: #fff;
	color: #cc3333;
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:5%;
	text-align: right;
}

#transaction_title{
	margin-bottom:20px;
}
#address_title > span, #transaction_title > span{
	
	font-size: 160%;
}

.transaction_status{
	    background-color: #cc3333;
    border-style: none;
}

#sales h1{
	color: #cc3333;
	background-color: #fff;
	padding: 20px 10px;
}

#sales select{
	padding: 5px 3px;
    color: #000;
    text-align: center;
    margin-top: -15px;
}

::-webkit-scrollbar {
    width: 5px;
    margin-left:10px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

#print, #switch_graph, #switch_table, #add_po a{
	cursor: pointer;
}

#print:hover, #switch_graph:hover, #switch_table:hover, ##add_po a:hover{
	color: #ccc;
}

.ui-dialog-titlebar, .ui-widget-header{
	display: none;
}

.close-diag{
	position: absolute;
    bottom: 0px;
    right: 0px;

    border-style: none;
    color: #fff;
    background-color: #cc3333;
    padding: 10px 50px;
}

#tire-link, #wheel-link, #battery-link{
	cursor: pointer;
}